*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: block;
}
a:hover {
    opacity: 0.6;
}
.container-full {
    width: var(--container-full-width);
}
a{
    color: var(--primary-color);
    text-decoration: none;
}
.container{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.row, .container{
    max-width: 1000px;
  }
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
.header_menu{
    display: flex;
    align-items: center;
    padding-top:12px;
    background: #fff;
    color:black;
    padding-left: 356px;
}
.header_menu ul li{
    display: inline-block;
    font-size: 18px;
    margin:0 14px
}
.header-navbar{
    width: 100%;
}
.header{
    display: flex;
}
img{
    width: 100%;
}
.header-logo{
    margin-right: 96px;
    margin-left: -113px;
}.banner{
    padding-top:  10px;
    margin-bottom: 30px;
}
.banner-1{
    height: 400px;
    object-fit: cover;
}
.news_logo{
    margin-top: -33px;
}
.news-title{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: -35px;
}
.tong-4{
    display: flex;
    width: 100%;
    margin-top: 0px;
}
.thu-1{
    width: 25%;
}
.tong-3{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.thu-2{
    width: 33.33%;
}
.title_CT{
    margin-top: 40px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
    color: rgba(0, 0, 255, 0.642);
}
.ct-title{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: -36px;
    color: #fff;
}
.container-footer{
    background-color: #FFF206;
    padding:  20px 60px;
    margin-top: 20px;
    height: 50%;
}
.footer-news-1{
    color: black;
    font-size: 17px;
    font-weight: 600;
}
.footer-news-2{
    color: black;
    font-size: 15px;
}
.footer-news-3{
    color: black;
    font-size: 15px;
    margin-left: 20px;
}